<br>
<div class="jumbotron">
  <h1>Publication Manager</h1>
  <p>The Publication Manager lists and manages publications and customers.</p>
</div>
<p><a class="btn btn-primary btn-lg btn-block" href="/customers" role="button">Customers</a></p>
<p><a class="btn btn-primary btn-lg btn-block" href="/publications" role="button">Publications</a></p>
<p><a class="btn btn-primary btn-lg btn-block" href="/equipment" role="button">Equipment</a></p>
