<p id="notice"><%= notice %></p>

<br>
<div class="jumbotron">
  <h1>Welcome!</h1>
  <p>You must be logged in to use this site.</p>


</div> 


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Information</h3>
  </div>
  <div class="panel-body">

  	<p><% if user_signed_in? %>
	  User account (<%= current_user.email %>) IS signed in.  
	  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
	    <% else %>
	    User account is NOT signed in.
	    <%= link_to('Login', new_user_session_path)  %>  
	    <% end %><br></p>

If you are logged in, you don't have proper permission for the area you just tried to access.  Contact Us for access at 720.255.1640 xt 101. 


  </div>
</div>
<br>

