<br>
<div class="jumbotron">
  <h1>Text Broadcaster</h1>
  <p>Interaction with viewers by sending text out to multiple screens.</p>
</div>

<p><a class="btn btn-primary btn-lg btn-block" href="/ReceiverOne" target=blank role="button">Launch Receiver 1 (Large Screen Format)</a></p>
<p><a class="btn btn-primary btn-lg btn-block" href="/ReceiverTwo" target=blank role="button">Launch Receiver 2 (Small Screen Format)</a></p>

<br>
<br>

Enter Text and press enter
<input type="text" class="form-control" placeholder="text input" id=input>

<br>


<h3>Output</h3>
<div id=box></div>

<script src="http://cdn.pubnub.com/pubnub-3.16.5.min.js"></script>

<script>(function(){
var pubnub = PUBNUB.init({publish_key:'pub-c-e28b934f-4b9d-40b1-9b8b-7dffbcb71f9a',subscribe_key:'sub-c-c1b3f182-c6ee-11e6-90ff-0619f8945a4f',ssl:true});
var box = PUBNUB.$('box'), input = PUBNUB.$('input'), channel = 'chat';
pubnub.subscribe({
    channel  : channel,
    callback : function(text) { box.innerHTML = (''+text).replace( /[<>]/g, '' ) + '<br>' + box.innerHTML }
});
PUBNUB.bind( 'keyup', input, function(e) {
    (e.keyCode || e.charCode) === 13 && pubnub.publish({
        channel : channel, message : input.value, x : (input.value='')
    })
} )
})()</script>