<p id="notice"><%= notice %></p>

<br>
<div class="jumbotron">
  <h1>Equipment</h1>
  <p>The Equipment Manager lists and manages physical assets.</p>

DESCRIPTION HERE


</div> 


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Actions</h3>
  </div>
  <div class="panel-body">

ACTIONS BODY HERE


  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Items</h3>
  </div>
  <div class="panel-body">

ITEMS BODY HERE

      
  </div>
</div>
<br>

<%= link_to 'Home', '/' %>  |
<%= link_to 'New Item', new_equipment_path %>
